# Production Docker Compose file

name: dietideals24-prodcompose

services:

  backend:
    container_name: dietideals24-backend-app-prod
    build:
      context: ../Server/backend/
      dockerfile: prod-Dockerfile
    ports:
      - 55501:8080 # Mappa la porta 8080 del container con 55501 nell'host (http://localhost:55501/ ci farà accedere all'app)

  backend-database:
    container_name: dietideals24-backend-postgresDB-prod
    ports:
      - 55502:5432 # Mappa la porta 5432 del container con 55501 nell'host (http://localhost:5432/ ci farà accedere all'app)